<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="2.1.0" targetFramework="net472" />
  <package id="CuttingEdge.Conditions" version="1.2.0.0" targetFramework="net472" />
  <package id="libsodium-net" version="0.6.0" targetFramework="net472" />
</packages>